.main-back {
  background: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0.9) 0%,
      rgba(233, 130, 131, 0.9) 100%
    ),
    url(../images/eagle.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &__logo {
    cursor: pointer;

    @media screen and (max-width: 768px) {
      padding-top: 23px;
      padding-left: 16px;
    }
  }

  &__menu {
    @media screen and (max-width: 768px) {
      display: none;
      width: 100%;
    }
  }

  &__menu-list {
    display: flex;
    list-style-type: none;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 0;
    }
  }

  &__menu-item {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
      padding: 10px 24px;
      font-size: 13px;
      line-height: 15px;
    }

    @media screen and (max-width: 768px) {
      height: 63px;
      padding: 0;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  &__menu-item:hover {
    border-bottom: 1px solid $orange;
    color: $orange;
    transition: 0.5s;
  }

  &__menu-icon {
    padding: 5px 20px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.banner {
  text-align: center;
  color: white;
  margin-top: 77px;

  @media screen and (max-width: 1024px) {
    margin-top: 52px;
  }

  &__title {
    margin-bottom: 44px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 768px) {
      padding: 50px 0;
      margin-bottom: 0;
    }
  }

  &__divider {
    width: 170px;
    border: 4px solid white;
    margin-bottom: 74px;

    @media screen and (max-width: 1024px) {
      width: 115px;
      margin-bottom: 50px;
    }

    @media screen and (max-width: 768px) {
      width: 134px;
      margin-top: 0;
    }
  }

  &__button {
    margin-bottom: 116px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 79px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 53px;
    }
  }
}

.sliders {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;

  @media screen and (max-width: 1024px) {
    column-gap: 20px;
  }

  @media screen and (max-width: 768px) {
    column-gap: 20px;
    margin: 0 16px;
  }

  &__active {
    width: 270px;
    padding: 20px 0;
    border-top: 4px solid white;
    color: white;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
      padding: 13px 0;
      width: 233px;
    }

    @media screen and (max-width: 768px) {
      width: 57px;
      border-top: 4px solid $red;
    }
  }

  &__passive {
    width: 270px;
    padding: 20px 0;
    border-top: 4px solid #f9efcf;
    color: #f9efcf;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
      padding: 13px 0;
      width: 233px;
    }

    @media screen and (max-width: 768px) {
      width: 57px;
    }
  }

  &__description {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__font {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
