.map {
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 85px;

  @media screen and (max-width: 1024px) {
    margin-top: 59px;
  }

  &__content {
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    text-align: center;
    padding: 42px 0;
  }

  &__icon {
    margin: 0 auto;
  }

  &__description {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #f38281;

    @media screen and (max-width: 1024px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__divider {
    margin-top: 24px;
    height: 4px;
    background: $red;
    max-width: 170px;
    border: none;

    @media screen and (max-width: 1024px) {
      max-width: 148px;
    }
  }
}
