.portfolio {
  text-align: center;
  margin-top: 84px;

  @media screen and (max-width: 1024px) {
    margin-top: 58px;
  }

  &__about {
    max-width: 1170px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      max-width: 993px;
    }

    @media screen and (max-width: 768px) {
      max-width: 288px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;

    /*@media screen and (max-width: 768px) 
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(5, 1fr); */
  }

  &__title {
    font-size: 30px;
    line-height: 44px;
    color: $dark;
    padding: 18px 0;

    @media screen and (max-width: 1024px) {
      font-size: 24px;
      line-height: 35px;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: $dark;
    padding: 20px 0;

    @media screen and (max-width: 1024px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 21px;
    padding: 38px 0;
    margin-bottom: 42px;

    @media screen and (max-width: 1024px) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 28px;
    }
  }
}
.case {
  position: relative;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-last {
    position: relative;
    grid-column-start: 4;
  }

  &-height {
    position: relative;
    grid-column-start: 3;
    grid-row: 1 / 3;

    /*@media screen and (max-width: 768px) 
      grid-column-start: 2;
    }*/
  }

  &__overlay {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity 0.3s;
    background: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0.9) 0%,
      rgba(233, 130, 131, 0.9) 100%
    );
    color: white;

    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    margin: 118px 168px 57px;

    @media screen and (max-width: 1024px) {
      margin: 80px 114px 38px;
    }
  }
}
