$kaushan-font-stack: "Kaushan Script", Arial, sans-serif;
$raleway-font-stack: "Raleway", Arial, sans-serif;
$montserrat-font-stack: "Montserrat", Arial, sans-serif;

$red: #f38281;
$yellow: #f9efcf;
$orange: #f4bf87;
$green: #95e1d3;
$dark: #2d3033;
$gray: #c6cbcd;
$lightGray: #f5f5f5;
$white: #f8f8f8;
